{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="m-4">
    <p>This is from the HTML file...</p>
    <p>It was written by <strong>{{ coolest }}</strong></p>

    <br>
    <br>

    <div class="image-container d-flex justify-content-evenly align-items-center">

        {% for product in products %}
        <div class="card m-3" style="width: 18rem;">
            <a href="{% url 'product-info' product.id %}">
                <img src="{% static 'images/monitor.jpg' %}" class="card-img-top" alt="Product Image">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{product.title}}</h4>
                <p class="card-text">{{product.description}}</p>
                <h5 class="card-text">€{{product.price}}</h5>
                <p class="card-text small text-green">Product ID: #{{product.id}}</p>
                <a href="{% url 'delete-item' product.id %}" class="btn btn-outline-danger mt-2 mb-4"
                    role="button">Delete this item</a>
            </div>
        </div>
        {% endfor %}

    </div>



    <br>
    <br>
    <h2 class="mb-4">Do you have a new product to sell?</h2>
    <div class="col-6">
        <form id="productForm" method="post" style="margin-top: 1.3em;">
            {{ product_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-outline-primary me-2">Submit</button>
        </form>
    </div>
</div>
{% endblock %}